[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".vim/bundle/nerd-tree"]
	path = .vim/bundle/nerd-tree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-editorconfig"]
	path = .vim/bundle/vim-editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
